
.main{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width:900px){
      max-width: 900px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
  }