.home{
    background-color: var(--off-white);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -20px;
    .main{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
      
        @media screen and (max-width:900px){
          max-width: 900px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: auto;
        }
      }
}
