header {
    background-color: var(--grey-black);
    height: 50px;
    nav{
      .mobile-menu-icon{
        display: none;
      }
      .nav-links-container {
        margin-left: 40%;
        margin-right: 10%;
        display: flex;
        justify-content: space-around;
        width: 50vw;
        align-items: center;
        padding-top:15px ;
        .link{
          font-family: Montserrat;
          font-size:15px;
          font-weight: 600;
          height:19px;
          width: 180px;
          color: var(--white);
          img{
            margin-left: 10px;
            margin-top: -15px;
            margin-right: 5px;
          }
        }
      }
    }  
  }
  
  .hero-area{
    background-image: url(../../assets/01/bitmap@3x.png);
     /* Position and center the image to scale nicely on all screens */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 40vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     .hero-text{
      h4{
        font-family: Montserrat Regular;
        font-size: 48px;
        line-height:72px;
        color: var(--light-brown);
        text-align: center;
        margin-top: -40px;
        }
        p{
          color: var(--white);
          font-size: 30px;
          margin-top: -60px;
        }
     }
      input{
        background: transparent;
        width: 350px;
        border: 2px solid var(--white);
        border-radius:5px;
        padding: 10px;
        background-image: url(../../assets/01/search-copy.png);
        background-repeat: no-repeat;
        background-position: right;
        font-size: 16px;
      }
   
  }