.joke-component-container{
    display: grid;
    grid-template-columns: repeat(3, auto); /*Creates 4 columns, each 100px in width*/
	grid-template-rows: repeat(2, 250px);
    gap: 10px;
    margin-top: 20px; 
    place-items: center;
    @media screen  and (max-width:900px){
            display: flex;
            flex-direction: column;
    }
}