.joke-component{
    border: 2px solid var(--light-brown);
    border-radius: 2px;
    background-color: var(--white);
    color: var(--gray-black);
    margin-top: 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding: 5px;
    .stat{
        display: flex;
        justify-content: flex-end;
        .stat-link{
            margin-top: 20px;
            margin-right: 10px;;
        }
        .joke-stat{
            margin-top: 20px;
            width:20px;
            height:20px;
        }
    }

    @media screen and (max-width: 900px){
           
    }
}
