@import url("https://fonts.cdnfonts.com/css/montserrat");

:root {
  --grey-black: #0a0a0b;
  --white: #ffffff;
  --light-brown: #cfb995;
}
.body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 20px 40px;
  @media screen and (max-width: 900px) {
    padding: 10px 20px;
  }
}

a {
  text-decoration: none;
  color: black;
}
* {
  box-sizing: border-box;
}

